<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Listing popular languages used in Data Science
- Listing some tools used in Data Science
- Listing some Data Science libraries
- Introducing arithmetic expressions
- Practice with markdown cell formatting

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Sci-kit learn
3. Numpy

|Data Science Tools|
|:-----------------|
|Google Colab      |
|Jupyter Notebook  |
|RStudio           |

### Below are a few examples of evaluating arithmetic expressions in Python
- 2+2
- 4*90
- 10/3
- 127-4

In [9]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Salmah Nansamba